
body{ 
    font-family:Arial;
}
header{
    background:#d32f2f;
    color:white;
    padding:10px
}
nav a{
    color:white;
    margin:10px
}
.banner img{
    width:100%;
    height:300px
}
.cars{
    display:flex;
    gap:15px
}
.car img{
    width:150px;
    height:100px
}
footer{
    text-align:center;
    margin-top:30px
}
